<div class="img-content">
  <img class="img-thumbnail" src="<%= image_url %>" />
</div>
<div class="img-action">
  <span class="img-trash"></span>
  <span class="img-like <%= isLiked ? 'liked' : 'unliked' %>"></span>
  <span class="img-share"></span>
</div>