<div id="primary-container"></div>
<script type="text/javascript">
  $(function(){
    window.router = new Photoapp.Routers.PhotosRouter({photos: <%= @photos.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>