/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// nav-fixed-top
body { padding-top: 100px; }

.navbar .navbar-header .navbar-brand {
  height: 80px;

  img {
    max-height: 100%;
  }
}

.navbar .navbar-link {
  margin: 30px 20px 0 0;
}

#flash-messages {
  margin-top: -20px;
}

#notice-list {
  width: 500px;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-250px);
  z-index: 1000;

  .notice-item {
    font-size: 14px;
    font-weight: 200;
    padding: 12px 20px 10px;
    background-color: #34bf49;
    color: white;
    border-radius: 2px;
    border: 1px solid #d6e9c6;
    animation: notice-item-animation 10s ease forwards;
    box-shadow: 0 1px #d6e9c6, 0 1px 1px rgba(0, 0, 0, 0.5);

    a {
      float: right;
      color: white;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  // Immediately perform
  .notice-item.notice-dismissed {
    animation: notice-dismissed-animation 0.3s ease forwards;
  }
}

@keyframes notice-item-animation {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

@keyframes notice-dismissed-animation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

#author-words {
  position: fixed;
  z-index: 2000;

  .intr-content {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all, 0.2s, ease;
    padding-right: 2px;

    .panel {
      padding-bottom: 20px;
      box-shadow: 2px 1px #dddddd;
    }

    .panel .intr-features {
      padding-bottom: 40px;
      font-weight: bold;
    }
  }

  .toggle-intr {
    cursor: pointer;
    padding: 0 20px 0 30px;
    position: absolute;
    right: -45px;
    top: 0;
    border: 1px solid #dddddd;
    border-left: none;
    border-radius: 4px;
    z-index: 1999;
  }

  .toggle-intr:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 30px;
    content: "\f101";
  }
}

#body-section {
  text-align: center;
}

.introduction-shown {

  #author-words {
    .intr-content {
      width: 340px;
      height: auto;
    }

    .toggle-intr {
      right: -60px;
    }

    .toggle-intr:before {
      content: "\f100";
    }
  }
  #body-section {
    margin-left: 410px;
    text-align: left;

    .img-container {
      text-align: center;
    }
  }
}

.introduction-not-shown-before {

  .toggle-intr:after {
    position: absolute;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 30px;
    content: "\f111";
    color: red;
    animation: toggle-highlight-animation 1s infinite ease forwards;
  }
}

@keyframes toggle-highlight-animation {
  0% {
    font-size: 30px;
    opacity: 1;
    left: 30px;
    top: 2px;
  }
  100% {
    font-size: 120px;
    opacity: 0;
    left: -10px;
    top: -65px;
  }
}



