// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-container {
  display: inline-block;

  &:hover {
    .img-action {
      opacity: 1;
    }
  }
}

.img-action {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: translateY(-15px);
  margin-top: -40px;
  // text-align: left;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;

  span {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    color: white;
  }

  .img-trash:before,
  .img-like:before,
  .img-share:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 20px;
    cursor: pointer;
  }

  .img-trash:before {
    content: "\f1f8";
  }
  .img-like:before {
    color: #ff4c4c;
    font-size: 24px;
  }
  .img-like.unliked:before {
    content: "\f08a";
  }
  .img-like.liked:before {
    content: "\f004";
  }
  .img-share:before {
    content: "\f045";
  }
}

