<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag('gallery.png', alt: "Photo Gallery Icon") %>
        Photo Gallery
      </a>
    </div>
    <a class="navbar-link navbar-right" href="/fivehundredpx_oauth">
      <i class="fa fa-500px fa-2x"></i>
    </a>
  </div>
</nav>