<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag('gallery.png', alt: "Photo Gallery Icon") %>
        Photo Gallery
      </a>
    </div>
    <% if has_fivehundredpx_access_token? %>
      <%= link_to('LOGOUT', "/logout", method: :delete, class: "navbar-link navbar-right") %>
    <% else %>
      <a class="navbar-link navbar-right" href="/auth/fivehundredpx">
        <i class="fa fa-500px fa-2x"></i>
      </a>
    <% end %>
  </div>
</nav>